<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Oxigin" type="Core.Config.OxiginConfigSection, Core.Config" />
  </configSections>
  <Oxigin>
    <modules>
      <add name="Module::GetRequest" type="Core.Module, Core.Module.ModWatsonTextAnalyzer" />
    </modules>
  </Oxigin>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Oxigin;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Rabbit MQ Credentials-->
    <add key="Rabbit::Exchange" value="OxiginExchange" />
    <add key="Rabbit::Host" value="localhost" />
    <add key="Rabbit::User" value="guest" />
    <add key="Rabbit::Pwd" value="guest" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>